$theme-color-master: #409EFF;
$theme-color-master-light: #81D8CF;
$theme-color-master-lightest: #E9F8F6;
$theme-color-slave: #0066CC;
$theme-color-disabled: darkgray;
$theme-screen-background-color: rgba(32, 58, 99, 0.3);
$normal-transition-duration: .2s;
$normal-transition: all $normal-transition-duration;
$normal-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
$normal-border-radius: .2rem;
$normal-border-radius-mini: .2rem;
$basic-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$light-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$gray-white: #F6F6F6;
